*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f7fb;
  padding:20px;
}

.container{
  max-width:1100px;
  margin:auto;
}

.green{ color:#16a34a; }
.red{ color:#dc2626; }


.stats{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  margin:20px 0;
}

.stat-card{
  flex:1;
  min-width:200px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
}


.section-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 0;
}

.tabs{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.tab{
  padding:8px 14px;
  background:#e5e7eb;
  border-radius:6px;
  cursor:pointer;
}

.tab.active{
  background:#2563eb;
  color:white;
}


.job-card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
  margin-bottom:20px;
  position:relative;
  border:2px solid transparent;
  display:flex;
  flex-direction:column;
  gap:10px;  
}

.job-card.interview{
  border:2px solid #16a34a;
}

.job-card.rejected{
  border:2px solid #dc2626;
}

.position{
  font-weight:600;
}

.job-info{
  font-size:14px;
  color:gray;
}

.status-badge{
  display:inline-block;
  padding:5px 12px;
  border-radius:6px;  
  font-size:12px;
  background:#e5e7eb;
  width:fit-content;
}

.status-badge.interview{
  background:#dcfce7;
  color:#16a34a;
}

.status-badge.rejected{
  background:#fee2e2;
  color:#dc2626;
}

.job-desc{
  font-size:14px;
}


.buttons{
  display:flex;
  gap:10px;
}

.interview-btn,
.rejected-btn{
  padding:8px 14px;
  border-radius:6px;
  background:transparent;
  cursor:pointer;
  transition:0.3s;
}

.interview-btn{
  border:2px solid #16a34a;
  color:#16a34a;
}

.interview-btn:hover{
  background:#16a34a;
  color:white;
}

.rejected-btn{
  border:2px solid #dc2626;
  color:#dc2626;
}

.rejected-btn:hover{
  background:#dc2626;
  color:white;
}

.delete-btn{
  position:absolute;
  right:15px;
  top:15px;
  background:#6b7280;
  color:white;
  border:none;
  padding:5px 10px;
  border-radius:6px;
  cursor:pointer;
}

.no-jobs{
  text-align:center;
  padding:60px;
  background:white;
  border-radius:10px;
  display:none;
}

.no-jobs img{
  width:80px;
  margin-bottom:15px;
}